@import "./variables.scss";

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    vertical-align: end;
    color: $medium-brown;
    
    @media (max-width: 425px) {
            font-size: 1.175rem;
            padding: 0 0.5rem;
        }

    .total-section {
        text-align: left;

        .total-spending {
            font-size: 2.5rem;
            font-weight: 700;
            color: $dark-brown;
            vertical-align: bottom;
            
            @media (max-width: 425px) {
                margin-top: 0.25rem;
            }
        }
    }

    .percent-section {
        text-align: right;

        .percent-difference {
            font-weight: 700;
            color: $dark-brown;

            
        }
    }
}